<header class="site-header">
  <a href="{{ site.baseurl }}/" style="text-decoration: none;">
  <div style="display: table; letter-spacing: .25em; padding: .25em; font-family: Orbitron; font-size: 1.5em; font-weight: bold; text-align: center; line-height: 1.5em;">
    <div>
      <div style="display: table-row;">
        <div style=
        "display: table-cell; background-color: #ffed00;">
          <span style=
          "color:#e5007d;">
         Liberale</span>
        </div>
      </div>
      <div style="display: table-row;">
        <div style="display: table-cell;">
          <span style=
          "color:#009ee3;">
          Männer</span>
        </div>
      </div>
    </div>
  </div>
  </a>
  <div class="page-links">
    <a class="page-link" href="{{ site.baseurl }}/">Home</a>
    {% for my_page in site.pages %}
      {% if my_page.title %}
      • <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      {% endif %}
    {% endfor %}
  </div>
</header>
