<header class="site-header">
  <a href="{{ site.baseurl }}/">
  
  <span style =
     "font-family: Orbitron;
    color:yellow;
    font-size: 3em;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
border-bottom: 4px dotted magenta;">Liberale</span>
 <span> </span>
<span style =
     "font-family: Orbitron;
    color:blue;
    font-size: 3em;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
border-bottom: 4px dotted magenta;">Männer</span>
  
  </a>

  <div class="page-links">
    <a class="page-link" href="{{ site.baseurl }}/">Home</a>
    {% for my_page in site.pages %}
      {% if my_page.title %}
      • <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      {% endif %}
    {% endfor %}
  </div>
</header>
