<header class="site-header">
  <a href="{{ site.baseurl }}/" style="text-decoration: none;">
  <div style="display: table;">
    <div>
      <div style="display: table-row;">
        <div style=
        "display: table-cell; float:left;background-color: yellow;">
          <span style=
          "font-family: Orbitron; color:#e5007d;font-size: 2em; font-weight: bold;">
          Liberale</span> <span style=
          "font-family: Orbitron; color:#e5007d; font-size: 2em;">&#x25FC</span>
        </div>
      </div>
      <div style="display: table-row;">
        <div style="display: table-cell; float:right">
          <span style=
          "font-family: Orbitron; color:#009ee3; font-size: 2em;">&#x25FC</span>
          <span style=
          "font-family: Orbitron; color:#009ee3; font-size: 2em;">&#x25FC</span>
          <span style=
          "font-family: Orbitron; color:#009ee3; font-size: 2em; font-weight: bold; text-align: center;">
          Männer</span>
        </div>
      </div>
    </div>
  </div>
  </a>
  <div class="page-links">
    <a class="page-link" href="{{ site.baseurl }}/">Home</a>
    {% for my_page in site.pages %}
      {% if my_page.title %}
      • <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      {% endif %}
    {% endfor %}
  </div>
</header>
